//- index.pug
extends ../layouts/_layout.pug

block content
  section.hero
    .hero__overlay
    .hero__particles#particles-js
    .hero__content
      .container
        h1.hero__title.animate-in 
          | Welcome to 
          span.hero__title-highlight CEC Club!
        p.hero__subtitle.animate-in Your hub for technology, innovation, and collaboration.
        
        .hero__stats.animate-in
          .hero__stat
            span.hero__stat-number 50+
            p.hero__stat-text Members
          .hero__stat
            span.hero__stat-number 20+
            p.hero__stat-text Projects
          .hero__stat
            span.hero__stat-number 15+
            p.hero__stat-text Events
            


  //- Other sections can be added below later as needed