//- blog.pug
extends layouts/_layout.pug

block content
  section.page-header
    .container
      h1.page-header__title Blog
  
  section.blog-content
    .container
      p This is the Blog page. Articles and posts will be displayed here.
      //- Add structure for:
      //- Blog post listings
      //- Categories/Tags
      //- Search functionality