//- events.pug
extends layouts/_layout.pug

block content
  section.page-header
    .container
      h1.page-header__title Events
  
  section.events-content
    .container
      p This is the Events page. Upcoming and past events will be listed here.
      //- Add sections for:
      //- Upcoming Events
      //- Past Events Gallery
      //- Event Calendar