//- partials/_header.pug
header.header
  .container
    .header__content
      a.header__logo(href="/")
        span.header__logo-text CEC
        span.header__logo-text.header__logo-text--light CLUB
      
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href="/") Home
          li.header__nav-item
            a.header__nav-link(href="about.html") About
          li.header__nav-item
            a.header__nav-link(href="events.html") Events
          li.header__nav-item
            a.header__nav-link(href="projects.html") Projects
          li.header__nav-item
            a.header__nav-link(href="contact.html") Contact
          li.header__nav-item
            a.btn.btn--primary(href="join.html") Join Us